<!-- =================================== ASSETS (DESKTOP VIEW) ================================== -->

<link rel="stylesheet" href="/assets/css/Header_footer/Footer_stylesheet.css">

<!-- ================================ ASSETS (MOBILE RESPONSIVE) ================================ -->

<link rel="stylesheet" href="/assets/css/Mobile_responsive/Header_footer/Footer_stylesheet.css">

<!-- ============================================================================================ -->

<section class="section-footer container-fluid bg-dark py-5">
    <section class="container">
        <div class="row align-items-center">

            <!-- COLUMN ONE | LEFT SIDE -->
            <div class="col-md-6 text-md-start text-center mb-3 mb-md-0">
                <h1 class="text-white fs-3 fw-bolder mb-0">Rod Dominic Satsatin</h1>
                <p class="text-white fs-6 fw-light mb-0">© <?= date('Y') ?> Satsatin Portfolio. All rights reserved.</p>
            </div>

            <!-- COLUMN TWO | RIGHT SIDE -->
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center align-items-center gap-3">
                <a href="https://www.facebook.com/rdominics/" target="_blank"><i class="fs-4 text-white bi bi-facebook"></i></a>
                <a href="https://github.com/Zeustainable" target="_blank"><i class="fs-4 text-white bi bi-github"></i></a>
                <a href="mailto:roddominic.08@gmail.com"><i class="fs-4 text-white bi bi-google"></i></a>
                <a href="https://www.linkedin.com/in/rod-dominic-satsatin/" target="_blank"><i class="fs-4 text-white bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>
</section>

<!-- ================================================================================================= -->