/* ========================== BACK TO TOP ========================== */

#back-to-top {
    bottom: 60px;
    right: 35px;
    width: 50px;
    height: 50px;
    background-color: #212429;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    opacity: 0;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: #212429e5;
    color: #ffffff;
}