/* ========== UNIVERSAL RESET | DEFAULT ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

/* ============== PUBLIC | WALLPAPER ============= */
.custom-text-shadow {
    text-shadow: 2px 2px 12px #000000;
}

/* ============= TEXT ALIGN | JUSTIFY ============ */
.text-justify {
    text-align: justify;
}

/* ================ CURSOR | POINTER ================= */
.csr-pointer {
    cursor: pointer;
}


/* ================ MARGIN | TOP ================= */
.mt-custom {
    margin-top: 5rem;
}